.text-panel {
  margin: 50px;
  text-align: center;
}

.text {
  width: 800px;
  font-size: 30px;
}

.number {
  font-size: 30px;
  margin: 40px;
}

.draw-btn{
  font-size: 30px;
}
.length{
  font-size: 30px;
}
.draw {
  display: none;
  position: relative;
  text-align: center;
}

.draw img {
  width: 450px;
}
.stub{
  position: absolute;
  top: 200px;
}